/* GLOBALS */
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
}

h1 {
    border-bottom: 1px solid;
    margin: .8em 0;
    font-size: 1.6em;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}

a,
button,
select {
    transition: all .2s ease;
}

a:hover,
button:hover,
select:hover {
    cursor: pointer;
}

/* UTILITY */
.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

/* RESPONSIVE */
@media (min-width: 576px) {
    body {
        font-size: 1.1em;
    }

    h1 {
        font-size: 2.2em;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 1em;
    }

    h1 {
        font-size: 2.5em;
    }
}