*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    border-bottom: 1px solid;
    margin: .8em 0;
    font-size: 2em;
    text-align: center;
}

a, svg, button, select {
    transition: all .3s ease;
}

a:hover,
svg:hover,
button:hover,
select:hover {
    cursor: pointer;
    filter: brightness(130%);
}

@media (min-width: 576px) {
    body {
        font-size: 1.1em;
    }

    h1 {
        font-size: 2.2em;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 1em;
    }

    h1 {
        font-size: 2.5em;
    }
}